.formControl{
    border: 0;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    color: #090524;
    font-weight: 600;
    padding-left: 0;
}
.responsive-width{
    width: 50%;
    padding: 2.5rem 5rem;
}
.google-btn{
    width: 75%;
}

/* media query */
@media screen and (max-width: 480px){
    .responsive-width{
        width: 100%;
        padding: .8rem 1.5rem;
    }
    .google-btn{
        width: 100%;
    }
}