.thead{
    background-color: #f4f6f6;
    border-radius: 15px;
}
.green{
    color: #30db8b;
}
.red{
    color: #eb2f06;
    cursor: pointer;
}
.not-delivered{
    color: #eb2f06;
    padding: 8px 5px;
    outline: none;
    border: 0;
    background-color: transparent;
}
.not-delivered:hover{
    color: #fa983a;
}
.delivered{
    color: #78e08f;
    padding: 8px 5px;
    outline: none;
    border: 0;
    background-color: transparent;
}
.processing{
    color: #ffa801;
    padding: 8px 5px;
    outline: none;
    border: 0;
    background-color: transparent;
}