.App {
  text-align: center;
}
.icon{
  width: 20px;
  height: 20px;
  display: inline;
  margin-right: 6px;
}
.shipping-icon{
  width: 10px;
  height: 10px;
  display: inline;
  color: red;
}

/* booking componenet css */
.bookingClass{
  padding: 5rem;
  padding-bottom: 1.5rem;
}
.checkout-service-cost{
  padding: 2rem 0rem;
}
.payment-button{
  text-align: end;
  padding: 1.4rem 0;
}

/* bookingList component css */
.bookingListClass{
  padding: 15px;
  text-align: start;
}

/* Review Component css */
.review-class{
  width: 50%;
  padding:3rem 2rem;
}

/* Admin OrderList Component Css */
.orderListClass{
  padding: 3rem 0;
}

/* Admin Add Service Component Css */
.addServiceClass{
  padding: 2rem;
}

/* Admin Make Admin Component Css */
.make-admin-container{
  padding: 5rem;
}
.make-admin{
  padding: 3rem;
}

/* home page conatct component */
.contact-form{
  width: 50%;
}
.conatact-container{
  padding: 3rem;
}

/* Booking Info Component Css */
.bookingInfo{
  text-align: start;
  padding: 3rem;
}
.prevBtn{
  text-align: start;
  padding-top: 2rem;
}
.nextBtn{
  text-align: end;
  padding-top: 2rem;
}
/* media query */
@media screen and (max-width: 480px){

  /* booking component css media  */
  .bookingClass{
    padding:2rem 1rem;
  }
  .checkout-service-cost{
    padding: 1rem 0rem;
    margin: 0;
  }
  .payment-button{
    padding: 0;
    text-align: center;
  }

  /* bookingList component css */
  .bookingListContainer,.bookingListClass{
    padding:5px !important;
  }

  /* Review Component css */
  .review-class{
    width: 100%;
    padding:2rem 1rem;
  }

  /* Admin OrderList Class */
  .orderListClass{
    padding: 1rem;
  }

  /* Admin Add Service Class CSS */
  .addServiceClass{
    padding: .9rem;
  }
  
  /* Admin Add Service Component Css */
  .make-admin-container{
    padding: 1rem !important;
  }
  .make-admin{
    padding: 1rem;
  }

  /* home page conatct component */
  .contact-form{
    width: 95%;
  }
  .conatact-container{
    padding: 1rem;
  }

  /* Booking Info Component Css */
  .bookingInfo{
    padding: 1rem;
  }
}